header{
    height: 70px;
    background-color: #4EA0FF;
    height: 65px;

}
#pattern{
    height: 50px;
}
#scritta{
    height: 35px;
}
#sottotitolo{
    color: #808080;
    font-size: small;
}
#blu{
    color: #B1E5F2;
}
img{
    height: 100px;
    margin-top: 100px;
}