header{
    height: 70px;
    background-color: #4EA0FF;
    height: 70px;
    background-image: url("../img/pattern.png");
}
#scritta{
    height: 35px;
}
#sottotitolo{
    color: #808080;
}
#blu{
    color: #B1E5F2;
}
img{
    height: 100px; 
}
#descrizione-foto{
    font-size: smaller;
}