.logo{
    background-color: #4EA0FF;
    height: 65px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#scritta{
   
    height: 30px;
}
img{
    height: 60px;
}